@import "tailwindcss";

:root {
    --background: #0a0a0f;
    --foreground: #f9fafb;
    --accent: #6366f1;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0f;
        --foreground: #f9fafb;
    }
}

html,
body, p, span, div {
    color: #ffffff;
}


h1, h2, h3, h4, h5 {
    color: var(--foreground);
    font-weight: 600;
}

a {
    color: #ffffff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 80rem;
}